img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.info {
text-align: center;
align-items: center;
}

.box {    
  justify-content: center;
  align-items: center;
  background-color: #f2e3e3;
  width: 500px;
  border: 15px solid rgb(245, 143, 243);
  padding:40px;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}